* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

ul , ol {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    display: block;
}
body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.visually-hidden {
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px);
    /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
}

.container-fluid {
    width: 1240px;
    margin: 0 auto;
}

.container {
    width: 1140px;
    margin: 0 auto;
}



.nav {
    background-color: #F2F2F2;
    margin-bottom: -1%;
}

.nav .container-fluid {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.nav-list {
    display: flex;
    align-items: center;
}

.nav-item {
    margin: 0 25px;
    
}

.nav-title {
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -0.750316px;
    color: #19191B;
}

.nav-item-link {
    color: #19191B;
    text-decoration: none;
    padding: 3px;
    padding: 5px 10px;
    display: flex;
    align-items: center;

    font-size: 16px;
    line-height: 19px;
    letter-spacing: -0.500211px;
}

.nav-link {
    padding: 12px 15px;
    background-color: red;
    color: #FFFFFF;
    text-decoration: none;
    border-radius: 5px;
    transition: 0.4s;
}

.nav-link:hover {
    box-shadow: 0px 0px 10px rgb(38, 37, 37);
}

.avtive {
    color: #5454D4;
}

.dropdown {
    position: relative;
}

.dropdown-icon {
    width: 15px;
    margin-left: 8px;
    transition: transform 0.3s;
}

.dropdown:hover .dropdown-icon {
    transform: rotate(90deg);
}

.dropdown:hover .dropdown-list {
    display: block;
}

.dropdown-list {
    display: none;
    width: 200%;
    position: absolute;
    left: -60%;
    border: 1px solid #EAE9F2;
    background-color: #FFFFFF;
    padding: 20px 0;
    border-top: 2px solid red;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.dropdown-link {
    text-decoration: none;
    padding: 8px 15px;
    color: black;
    transition: color 0.3s;
    display: flex;
    align-items: center;
}

.dropdown-link:hover {
    color: #5454D4;
}


.subdropdown {
    position: relative;
}

.subdropdown:hover .subdropdown-list {
    display: block;
}

.subdropdown-list {
    display: none;
    position: absolute;
    top: 5%;
    right: 100%;
    width: 100%;
    border: 1px solid #EAE9F2;
    background-color: #FFFFFF;
    padding: 20px 0;
    border-top: 2px solid green;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.subdropdown-link {
    display: block;
    text-decoration: none;
    padding: 8px 15px;
    color: black;
    transition: color 0.3s;
}

.subdropdown-link:hover {
    color: green;
}

.subdropdown-icon {
    width: 15px;
    margin-left: 8px;
    transition: transform 0.3s;
}

.subdropdown:hover .subdropdown-icon {
    transform: rotate(90deg);
}

.life {
    background-color: #F2F2F2;
    border-bottom: 1px solid #EAE9F2;
}

.life .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding: 150px 0 50px 0;
}

.life-content-section,
.life-photo-section {
    width: 46%;
}

.life-photo-img {
    object-fit: contain;
}

.life-content-title {
    font-size: 50px;
    padding-bottom: 55px;
    line-height: 70px;
    letter-spacing: -1.87579px;
    color: #19191B;
}

.life-content-item {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.button {
    display: flex;
    align-items: center;
    border: none;
}

.button:focus {
    outline: none;
}

.life-content-item-info {
    font-size: 21px;
    line-height: 25px;
    letter-spacing: -0.656526px;
    color: #19191B;
    margin-left: 10px;
}

.life-content-link {
    font-size: 21px;
    line-height: 25px;
    text-align: center;
    letter-spacing: -0.656526px;
    padding: 10px 20px;
    background-color: #F0544C;
    text-decoration: none;
    border-radius: 10px;
    color: #FFFFFF;
    display: inline-block;
    margin: 40px auto 15px auto;
    transition: 0.4s;
}

.life-content-link:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 10px rgb(34, 34, 34);
}

.life-content-footer {
    display: flex;
    align-items: center;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: -0.562737px;
    color: #19191B;
}

.life-content-footer a {
    text-decoration: none;
    margin-left: 10px;
}

.life-footer {
    width: 65%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px auto;
    padding: 5px;
}


.life-footer-info {
    margin-left: 30px;
}

.life-footer-info i {
    display: block;
    margin-bottom: 15px;
    font-size: 21px;
    line-height: 39px;
    letter-spacing: -0.656526px;
    color: #19191B;
}

.chapter {
    background-color: #F2F2F2;
}

.chapter .container {
    position: relative;
}

.chapter-title {
    text-align: center;
    padding: 74px 0 20px 0;
    font-size: 60px;
    line-height: 70px;
    letter-spacing: -1.87579px;
    color: #19191B;
}

.chapter-info {
    font-size: 21px;
    line-height: 39px;
    text-align: center;
    letter-spacing: -0.656526px;
    color: #696871;
    padding: 10px 320px 20px 320px;
}


.chapter-box {
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 90px 145px 90px 100px;
    box-shadow: 0px 12px 34px rgba(65, 62, 101, 0.102519);
    border-radius: 10px;
    margin-top: 60px;
}

.chapter-box-photo  {
    width: 35%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.chapter-box-content {
    width: 60%;
}

.chapter-box-content-link {
    text-decoration: none;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: -0.500211px;
    color: #5454D4;
}

.chapter-box-content-title {
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -0.750316px;
    color: #19191B;
    padding: 10px 0 35px 0;
}

.chapter-box-content-info {
    font-size: 21px;
    line-height: 39px;
    letter-spacing: -0.656526px;
    color: #19191B;
}

.chapter-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 112px;
}

.chapter-item {
    width: 30%;
    text-align: center;
    margin-bottom: 50px ;
}

.chapter-button {
    border: none;
    cursor: pointer;
    margin-bottom: 32px;
}

.chapter-button:focus {
    outline: none;
}

.chapter-button img {
    object-fit: contain;
}

.chapter-item-title {
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    letter-spacing: -0.750316px;
    color: #19191B;
    margin-bottom: 20px;
}

.chapter-item-info {
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    letter-spacing: -0.500211px;
    color: #696871;
}

.chapter-box-right-button {
    cursor: pointer;
    border: none;
    border-radius: 50%;
    position: absolute;
    top: 47%;
    left: 97.5%;
}

.chapter-box-right-button:focus {
    outline: none;
}

.chapter-box-left-button {
    cursor: pointer;
    border: none;
    border-radius: 50%;
    position: absolute;
    top: 47%;
    right: 97.5%;
}

.chapter-box-left-button:focus {
    outline: none;
}

.learn {
    background-color: #F2F2F3;
}

.learn-title {
    font-size: 60px;
    line-height: 70px;
    text-align: center;
    letter-spacing: -1.87579px;
    color: #19191B;
    padding: 100px 0 30px 0;
    text-align: center;
}

.learn-info {
    font-size: 21px;
    line-height: 39px;
    text-align: center;
    letter-spacing: -0.656526px;
    color: #696871;
    text-align: center;
    padding: 20px 310px 65px 310px;

}

.learn-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 25px;
}

.learn-item {
    width: 32%;
    background-color: #FFFFFF;
    padding: 15px 20px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    border-radius: 5px;
}

.learn-iteminfo {
    font-size: 21px;
    line-height: 25px;
    letter-spacing: -0.656526px;
    color: #19191B;
    font-weight: 500;
    margin-left: 10px;
}

.leran-item-button-img {
    object-fit: contain;
}

.learn-item-button {
    width: 50px;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    background-color: #FFFFFF;
}

.learn-item-button:focus {
  outline: none;
}

.learn-div {
    background-color: #413E65;
    box-shadow: 0px 52px 54px rgba(65, 62, 101, 0.296766);
    padding: 30px 15px;
    display: flex;
    align-items: center;
    border-radius: 10px;
}

.learn-div-img {
    object-fit: contain;
    margin-right: 30px;
}

.learn-div div {
    width: 35%;
}

.learn-div div h3 {
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -0.750316px;
    color: #FFFFFF;
    margin-bottom: 20px;
}

.learn-div div p {
    font-size: 18px;
    line-height: 28px;
    letter-spacing: -0.562737px;
    color: rgba(255, 255, 255, 0.7);
}

.learn-div-link {
    margin-left: auto;
    margin-right: 100px;
    text-decoration: none;
    font-size: 21px;
    line-height: 25px;
    text-align: center;
    letter-spacing: -0.656526px;
    color: #FFFFFF;
    padding: 15px 30px;
    background-color: red;
    border-radius: 5px;
    transition: 0.4s;
}

.learn-div-link:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 15px rgb(94, 93, 93);
}

.learn-list2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 120px;
    padding-bottom: 100px;
}


.learn-item2 {
    width: 30%;
    text-align: center;
    transition: 0.4s;
}

.learn-item2:hover {
    transform: scale(1.3);
}

.learn-list2-title {
    font-size: 60px;
    line-height: 70px;
    text-align: center;
    letter-spacing: -1.87579px;
    color: #5454D4;
}

.learn-list2-info {
    font-size: 21px;
    line-height: 39px;
    text-align: center;
    letter-spacing: -0.656526px;
    color: #696871;
    margin-top: 30px;
}

.Reviews {
    border-top: 1px solid #EAE9F2;
    background-color: #F2F2F2;
}

.Reviews-title {
    padding: 75px 0 20px 0;
    text-align: center;
    font-size: 60px;
    line-height: 70px;
    text-align: center;
    letter-spacing: -1.87579px;
    color: #19191B;
}

.Reviews-info {
    font-size: 21px;
    line-height: 39px;
    text-align: center;
    letter-spacing: -0.656526px;
    color: #696871;
    padding: 20px 320px 60px 320px;
}

.Reviews-item {
    width: 30%;
    display: flex;
    flex-direction: column;
}

.Reviews-list {
    display: flex;
    justify-content: space-between;
}

.Rreviews-item-img {
    object-fit: contain;
    width: 120px;
    margin-bottom: 30px;
}

.Reviews-item-info {
    font-size: 21px;
    line-height: 39px;
    letter-spacing: -0.656526px;
    color: #19191B;
    margin-bottom: 40px;
}

.Reviews-item-poeple {
    margin-top: auto;
    display: flex;
}

.Reviews-item-poeple-img {
    object-fit: contain;
    margin-right: 20px;
}

.Reviews-item-poeple-title {
    font-size: 21px;
    line-height: 25px;
    letter-spacing: -0.656526px;
    color: #19191B;
    margin-bottom: 5px;
}

.Reviews-item-poeple-info {
    font-size: 16px;
    line-height: 28px;
    letter-spacing: -0.500211px;
    color: #696871;
}

.Reviews-link {
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: -0.500211px;
    text-decoration-line: underline;
    color: #5454D4;
    padding: 53px 0 108px 0;
}

.author {
    border-top: 1px solid #EAE9F2;
    background-color: #F2F2F2;
}

.author .container {
    padding-bottom: 110px;
}

.author-title {
    padding: 85px 0;
    text-align: center;
    font-size: 60px;
    line-height: 70px;
    letter-spacing: -1.87579px;
    color: #19191B;
}

.author-img {
    object-fit: contain;
    margin-right: 50px;
    width: 300px;
}

.author-about {
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.author-about div {
    width: 50%;
}

.social {
    
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 20px;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: -0.500211px;
    color: #696871;
}

.twitter,
.Email {
    margin: 0 10px;
    color: black;
    font-weight: 500;
}

.author-about-title {
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -0.750316px;
    color: #19191B;
    margin-bottom: 30px;
}

.author-about-info {
    font-size: 16px;
    line-height: 28px;
    letter-spacing: -0.500211px;
    color: #696871;
    margin-bottom: 30px;
}

.author-about-info2 {
     font-size: 16px;
     line-height: 28px;
     letter-spacing: -0.500211px;
     color: #696871;
     margin-bottom: 30px;
}

.plans {
    background-color: #413E65;
}

.plans .container {
    padding: 100px 0 50px 0;
}

.plans-title {
    font-size: 60px;
    line-height: 70px;
    text-align: center;
    letter-spacing: -1.87579px;
    color: #FFFFFF;
}

.plans-info {
    font-size: 21px;
    line-height: 39px;
    text-align: center;
    letter-spacing: -0.656526px;
    color: rgba(255, 255, 255, 0.7);
    padding: 18px 320px 60px 320px;
}

.plans-list {
    display: flex;
    justify-content: space-between;
}

.plans-item {
    width: 32%;
    background-color: #FFFFFF;
    text-align: center;
    padding: 15px;
    border: 1px solid #EAE9F2;
    border-radius: 10px;
}

.plans-item-title {
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    letter-spacing: -0.500211px;
    color: #5454D4;
    padding: 10px 0 20px 0;
}

.plan-item-price {
    font-size: 60px;
    line-height: 56px;
    text-align: center;
    letter-spacing: -1.03448px;
    color: #1D293F;
    font-weight: 500;
    padding-bottom: 30px;
}

.plans-item-title-price {
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    letter-spacing: -0.562737px;
    color: #696871;
    margin-bottom: 50px;
}

.plans-item-info {
    font-size: 21px;
    line-height: 39px;
    text-align: center;
    letter-spacing: -0.656526px;
    color: #19191B;
    padding: 0 40px 70px 40px;
}

.plans-item-link {
    padding: 15px;
    text-decoration: none;
    background-color: red;
    font-size: 21px;
    line-height: 25px;
    text-align: center;
    letter-spacing: -0.656526px;
    color: #FFFFFF;
    transition: 0.4s;
}

.plans-item-link:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 10px rgb(51, 50, 50);
}

.fieldset {
    width: 100%;
    height: 50px;
    display: flex;
    padding: 10px 20px;
    border: none;
    background-color: #F7F7FB;
    border: 1px solid #EAE9F2;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}

.form {
    margin-top: 20px;
}

.fieldset input {
    margin-left: 30px;
    padding: 10px;
    width: 100%;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: -0.562737px;
    color: #696871;
    border: none;
    background-color: #F7F7FB;
}

.fieldset input:focus {
    outline: none;
}

.form-button {
    width: 100%;
    padding: 10px;
    background-color: #5454D4;
    border: 1px solid #3D3DAD;
    font-size: 21px;
    line-height: 25px;
    text-align: center;
    letter-spacing: -0.656526px;
    color: #FFFFFF;
    border-radius: 5px;
    cursor: pointer;
}

.plans-list2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 115px;
}

.plans-item2 {
    width: 45%;
    margin-bottom: 85px;

}

.plans-item2-button {
    border-radius: 50%;
    border: none;
    background-color: #413E65;
    cursor: pointer;
}

.plans-item2-button:focus {
    outline: none;
}

.plans-item2-title {
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -0.750316px;
    color: #FFFFFF;
    margin-left: 20px;
}

.plans-item2-info {
    font-size: 16px;
    line-height: 28px;
    letter-spacing: -0.500211px;
    color: rgba(255, 255, 255, 0.7);
}

.plans-item2 div {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.solving {
    background-color: #F2F2F2;
    border-bottom: 1px solid #EAE9F2;
}

.solving .container {
    padding: 102px 0 84px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.solving-content {
    width: 55%;
}

.solving-link-content {
    width: 30%;
    height: 60px;
    display: flex;
    justify-content: center;
}

.solving-title {
    font-size: 60px;
    line-height: 70px;
    letter-spacing: -1.87579px;
    color: #19191B;
    margin-bottom: 18px;
}

.solving-info {
    font-size: 21px;
    line-height: 39px;
    letter-spacing: -0.656526px;
    color: #696871;
}

.solving-link {
    padding: 15px 50px;
    font-size: 21px;
    line-height: 25px;
    text-decoration: none;
    text-align: center;
    letter-spacing: -0.656526px;
    color: #FFFFFF;
    display: inline-block;
    background-color: red;
    transition: 0.4s;
}

.solving-link:hover {
    box-shadow: 0px 0px 10px rgb(67, 65, 65);
}

 .omega-footer {
   background: #F2F2F2;
  }

.omega-footer .container {
    padding: 30px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.omega-footer-list,
.omega-footer .container div {
   display: flex;
   align-items: center;
   font-weight: 500;
}

.omega-footer-title {
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -0.750316px;
    color: #19191B;
}

.omega-footer-item-link {
    padding: 5px 10px;
    font-size: 16px;
    line-height: 38px;
    text-align: center;
    letter-spacing: -0.500211px;
    color: #19191B;
    text-decoration: none;
}

.omega-footer .container div p {
    font-size: 16px;
    line-height: 38px;
    text-align: right;
    letter-spacing: -0.500211px;
    color: #19191B;
    margin-left: 5px;

}




@media (max-width: 1260px) {
    .container-fluid {
        width: 1100px;
    }

    .container {
        width: 1000px;
    }
}

@media (max-width: 1120px) {
    .container-fluid {
        width: 1000px;
    }

    .container {
        width: 900px;
    }

    .life .container {
        flex-direction: column;
    }
}

@media (max-width: 1020px) {
    .container-fluid {
        width: 900px;
    }

    .container {
        width: 800px;
    }

}

@media (max-width: 920px) {
    .container-fluid {
        width: 800px;
    }

    .container {
        width: 700px;
        border: 1px solid black;
    }


}