* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul , ol {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    display: block;
}
body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.visually-hidden {
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px);
    /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
}

.container-fluid {
    width: 1240px;
    margin: 0 auto;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

@media (max-width: 1260px) {
    .container-fluid {
        width: 1100px;
    }

    .container {
        width: 1000px;
    }
}

@media (max-width: 1120px) {
    .container-fluid {
        width: 1000px;
    }

    .container {
        width: 900px;
    }

}

@media (max-width: 1020px) {
    .container-fluid {
        width: 900px;
    }

    .container {
        width: 800px;
    }

}

@media (max-width: 920px) {
    .container-fluid {
        width: 800px;
    }

    .container {
        width: 700px;
        border: 1px solid black;
    }

}

.nav {
    background-color: #F2F2F2;
    margin-bottom: -1%;
}

.nav .container-fluid {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.nav-list {
    display: flex;
    align-items: center;
}

.nav-item {
    margin: 0 25px;
    
}

.nav-title {
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -0.750316px;
    color: #19191B;
}

.nav-item-link {
    color: #19191B;
    text-decoration: none;
    padding: 3px;
    padding: 5px 10px;
    display: flex;
    align-items: center;

    font-size: 16px;
    line-height: 19px;
    letter-spacing: -0.500211px;
}

.nav-link {
    padding: 12px 15px;
    background-color: red;
    color: #FFFFFF;
    text-decoration: none;
    border-radius: 5px;
}

.avtive {
    color: #5454D4;
}

.dropdown {
    position: relative;
}

.dropdown-icon {
    width: 15px;
    margin-left: 8px;
    transition: transform 0.3s;
}

.dropdown:hover .dropdown-icon {
    transform: rotate(90deg);
}

.dropdown:hover .dropdown-list {
    display: block;
}

.dropdown-list {
    display: none;
    width: 200%;
    position: absolute;
    left: -60%;
    border: 1px solid #EAE9F2;
    background-color: #FFFFFF;
    padding: 20px 0;
    border-top: 2px solid red;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.dropdown-link {
    text-decoration: none;
    padding: 8px 15px;
    color: black;
    transition: color 0.3s;
    display: flex;
    align-items: center;
}

.dropdown-link:hover {
    color: #5454D4;
}


.subdropdown {
    position: relative;
}

.subdropdown:hover .subdropdown-list {
    display: block;
}

.subdropdown-list {
    display: none;
    position: absolute;
    top: 5%;
    right: 100%;
    width: 100%;
    border: 1px solid #EAE9F2;
    background-color: #FFFFFF;
    padding: 20px 0;
    border-top: 2px solid green;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.subdropdown-link {
    display: block;
    text-decoration: none;
    padding: 8px 15px;
    color: black;
    transition: color 0.3s;
}

.subdropdown-link:hover {
    color: green;
}

.subdropdown-icon {
    width: 15px;
    margin-left: 8px;
    transition: transform 0.3s;
}

.subdropdown:hover .subdropdown-icon {
    transform: rotate(90deg);
}

.life {
    background-color: #F2F2F2;
    border-bottom: 1px solid #EAE9F2;
}

.life .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding: 150px 0;
}

.life-content-section,
.life-photo-section {
    width: 46%;
}

.life-content-title {
    font-size: 50px;
    padding-bottom: 55px;
    line-height: 70px;
    letter-spacing: -1.87579px;
    color: #19191B;
}

.life-content-item {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.button {
    display: flex;
    align-items: center;
    border: none;
}

.button:focus {
    outline: none;
}

.life-content-item-info {
    font-size: 21px;
    line-height: 25px;
    letter-spacing: -0.656526px;
    color: #19191B;
    margin-left: 10px;
}

.life-content-link {
    font-size: 21px;
    line-height: 25px;
    text-align: center;
    letter-spacing: -0.656526px;
    padding: 10px 20px;
    background-color: #F0544C;
    text-decoration: none;
    border-radius: 10px;
    color: #FFFFFF;
    display: inline-block;
    margin: 40px auto 15px auto;
}

.life-content-footer {
    display: flex;
    align-items: center;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: -0.562737px;
    color: #19191B;
}

.life-content-footer a {
    text-decoration: none;
    margin-left: 10px;
}

.life-footer {
    width: 65%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px auto;
    padding: 5px;
}


.life-footer-info {
    margin-left: 30px;
}

.life-footer-info i {
    display: block;
    margin-bottom: 15px;
    font-size: 21px;
    line-height: 39px;
    letter-spacing: -0.656526px;
    color: #19191B;
}

